<div class="row">
    <div class="inputbox" style="margin:0 auto;">
        <h2>Add Income Details</h2>
        <form class="form-horizontal" name="myForm" role="form">
            <div class="form-group">
                <div class="col-lg-12">
                    <input type="text" name="payer" class="form-control" placeholder="Payer" ng-model="userincomedata.payer" ng-maxlength="15" required>
                    <div style="color:red;width:100%">
                        <span ng-show="myForm.payer.$error.maxlength">Maximum 15 characters allowed. </span>
                        <span ng-show="myForm.payer.$error.required && !myForm.payer.$pristine">Payer name is required.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <input type="text" name="payee" class="form-control" placeholder="Payee" ng-maxlength="15" ng-model="userincomedata.payee" required>
                    <div style="color:red;width:100%">
                        <span ng-show="myForm.payee.$error.maxlength">Maximum 15 characters allowed. </span>
                        <span ng-show="myForm.payee.$error.required && !myForm.payee.$pristine">Payee name is required.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-12 customlabel">Category:</label>
                <div class="col-lg-12">
                    <select name="category" class="form-control" ng-model="userincomedata.category" required>
                        <option>Business</option>
                        <option>Share Market</option>
                        <option>Market</option>
                    </select>
                    <div style="color:red;width:100%">
                        <span ng-show="myForm.category.$error.required && !myForm.category.$pristine">PLease select Category</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-12 customlabel">Mode of Payment:</label>
                <div class="col-lg-12">
                    <select class="form-control" name="modeofpayment" ng-model="userincomedata.modeofpayment" required>
                        <option>Bank</option>
                        <option>Cash</option>
                        <option>DD</option>
                    </select>
                    <div style="color:red;width:100%">
                        <span ng-show="myForm.modeofpayment.$error.required && !myForm.modeofpayment.$pristine">PLease select Mode of Payment</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <input type="text" name="amount" class="form-control" placeholder="Amount" ng-model="userincomedata.amount" required>
                    <div style="color:red;width:100%">
                        <span ng-show="myForm.amount.$error.required && !myForm.amount.$pristine">Please enter Number.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-12">
                    <input type="text" name="notes" class="form-control" placeholder="Notes" ng-model="userincomedata.notes" required>
                    <div style="color:red;width:100%">
                        <span ng-show="myForm.notes.$error.required && !myForm.notes.$pristine">Please enter notes</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-lg-12">
                    <button type="button" class="btn btn-primary" ng-click="addIncomeData(userincomedata)">Add Income</button>
                </div>
            </div>
        </form>
    </div>
</div>
